body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 30px;
}
.mainForm{
    width: 50%;
    margin: auto;
    align-items: center;
    font-size: large;
}
form{
    padding-left: 10%;
    padding-right: 10%;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button{
    background-color: white;
    height: 30px;
}

button:hover{
    background-color: whitesmoke;
}

@keyframes benefits {
    0%{
        translate: 0px 100px;
    }
    100%{
        translate: 0px 0px;
    }
}

#benefits{
    display: none;
    background-color: white;
    border-radius: 5px;
    text-align: start;
    padding-left: 4%;
    padding-top : 0.5%;
    padding-bottom : 0.5%;
    
}

#popup {
    display: none;
    background-color: white;
    position: fixed;
    width: 50%;
    height: 50vh;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 3px solid #f1f1f1;
    border-radius: 5px;
    z-index: 2;
    padding: 2%;
    background-color: rgb(248, 193, 221);
  }

.center {
    text-align: center;
    font-size: 25px;
}

li{
    list-style-type: none;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #8389f1;
    overflow: hidden;
    z-index: -10;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 28s linear infinite;
}




.background li:nth-child(0) {
    left: 30%;
    width: 43px;
    height: 43px;
    bottom: -43px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 47%;
    width: 66px;
    height: 66px;
    bottom: -66px;
    animation-delay: 2s;
}
.background li:nth-child(2) {
    left: 64%;
    width: 99px;
    height: 99px;
    bottom: -99px;
    animation-delay: 9s;
}
.background li:nth-child(3) {
    left: 84%;
    width: 53px;
    height: 53px;
    bottom: -53px;
    animation-delay: 10s;
}
.background li:nth-child(4) {
    left: 70%;
    width: 98px;
    height: 98px;
    bottom: -98px;
    animation-delay: 6s;
}
.background li:nth-child(5) {
    left: 40%;
    width: 95px;
    height: 95px;
    bottom: -95px;
    animation-delay: 4s;
}
.background li:nth-child(6) {
    left: 56%;
    width: 41px;
    height: 41px;
    bottom: -41px;
    animation-delay: 26s;
}
.background li:nth-child(7) {
    left: 70%;
    width: 137px;
    height: 137px;
    bottom: -137px;
    animation-delay: 11s;
}
.background li:nth-child(8) {
    left: 33%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 2s;
}
.background li:nth-child(9) {
    left: 4%;
    width: 71px;
    height: 71px;
    bottom: -71px;
    animation-delay: 2s;
}
.background li:nth-child(10) {
    left: 19%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 13s;
}
.background li:nth-child(11) {
    left: 20%;
    width: 99px;
    height: 99px;
    bottom: -99px;
    animation-delay: 42s;
}
.background li:nth-child(12) {
    left: 37%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 20s;
}
.background li:nth-child(13) {
    left: 54%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 52s;
}
.background li:nth-child(14) {
    left: 60%;
    width: 60px;
    height: 60px;
    bottom: -60px;
    animation-delay: 37s;
}
.background li:nth-child(15) {
    left: 87%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 49s;
}
.background li:nth-child(16) {
    left: 82%;
    width: 96px;
    height: 96px;
    bottom: -96px;
    animation-delay: 14s;
}
.background li:nth-child(17) {
    left: 77%;
    width: 128px;
    height: 128px;
    bottom: -128px;
    animation-delay: 11s;
}
.background li:nth-child(18) {
    left: 53%;
    width: 96px;
    height: 96px;
    bottom: -96px;
    animation-delay: 53s;
}
.background li:nth-child(19) {
    left: 38%;
    width: 141px;
    height: 141px;
    bottom: -141px;
    animation-delay: 86s;
}
.background li:nth-child(20) {
    left: 40%;
    width: 138px;
    height: 138px;
    bottom: -138px;
    animation-delay: 55s;
}
.background li:nth-child(21) {
    left: 57%;
    width: 93px;
    height: 93px;
    bottom: -93px;
    animation-delay: 84s;
}
.background li:nth-child(22) {
    left: 33%;
    width: 127px;
    height: 127px;
    bottom: -127px;
    animation-delay: 45s;
}
.background li:nth-child(23) {
    left: 62%;
    width: 43px;
    height: 43px;
    bottom: -43px;
    animation-delay: 69s;
}
.background li:nth-child(24) {
    left: 5%;
    width: 72px;
    height: 72px;
    bottom: -72px;
    animation-delay: 39s;
}
.background li:nth-child(25) {
    left: 79%;
    width: 40px;
    height: 40px;
    bottom: -40px;
    animation-delay: 3s;
}
.background li:nth-child(26) {
    left: 80%;
    width: 150px;
    height: 150px;
    bottom: -150px;
    animation-delay: 47s;
}
.background li:nth-child(27) {
    left: 46%;
    width: 83px;
    height: 83px;
    bottom: -83px;
    animation-delay: 14s;
}
.background li:nth-child(28) {
    left: 31%;
    width: 117px;
    height: 117px;
    bottom: -117px;
    animation-delay: 114s;
}
.background li:nth-child(29) {
    left: 34%;
    width: 39px;
    height: 39px;
    bottom: -39px;
    animation-delay: 116s;
}
.background li:nth-child(30) {
    left: 5%;
    width: 92px;
    height: 92px;
    bottom: -92px;
    animation-delay: 112s;
}
.background li:nth-child(31) {
    left: 58%;
    width: 44px;
    height: 44px;
    bottom: -44px;
    animation-delay: 65s;
}
.background li:nth-child(32) {
    left: 40%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 129s;
}
.background li:nth-child(33) {
    left: 58%;
    width: 104px;
    height: 104px;
    bottom: -104px;
    animation-delay: 92s;
}
.background li:nth-child(34) {
    left: 42%;
    width: 112px;
    height: 112px;
    bottom: -112px;
    animation-delay: 35s;
}
.background li:nth-child(35) {
    left: 47%;
    width: 39px;
    height: 39px;
    bottom: -39px;
    animation-delay: 106s;
}
.background li:nth-child(36) {
    left: 88%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 152s;
}
.background li:nth-child(37) {
    left: 16%;
    width: 142px;
    height: 142px;
    bottom: -142px;
    animation-delay: 155s;
}
.background li:nth-child(38) {
    left: 1%;
    width: 75px;
    height: 75px;
    bottom: -75px;
    animation-delay: 89s;
}
.background li:nth-child(39) {
    left: 5%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 157s;
}
.background li:nth-child(40) {
    left: 50%;
    width: 35px;
    height: 35px;
    bottom: -35px;
    animation-delay: 33s;
}
.background li:nth-child(41) {
    left: 5%;
    width: 91px;
    height: 91px;
    bottom: -91px;
    animation-delay: 25s;
}
.background li:nth-child(42) {
    left: 64%;
    width: 148px;
    height: 148px;
    bottom: -148px;
    animation-delay: 28s;
}
.background li:nth-child(43) {
    left: 53%;
    width: 132px;
    height: 132px;
    bottom: -132px;
    animation-delay: 20s;
}